// primary color
$primary-color: #46ead4;
$primary-dark-color: #07ba9c;
$primary-light-color: #0affed;
$primary-hover-color: #21f3cf;
// secondary-color
$secondary-color: #052f38;
$secondary-dark-color: #031e26;
// error color
$danger-color: #b5251f;
// success color
$success-color: #2fc459;
$success-dark-color: #0f752c;
// backgrounds
$light-background-color: #e4eefa;
$dark-background-color: #2e3033;
// commons
$border-color: #dddbdb;
$muted-color: #878787;
$dark-text-color: #262d3b;
$light-text-color: #fafafa;
// extra colors
$white-color: #ffffff;
// fonts
$regular-font: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$heading-font: "Raleway", sans-serif;
